.wikimate {
  padding-bottom: 0 !important;
  margin-bottom: 5px !important;
}

.wikimate-story .item .item-content .item-handle {
  background-image: url("../images/icon_draggable_vertical.png") !important;
}

.wikimate-story .item .plain-text-editor {
  min-height: 5em !important;
  width: 100%;
}

.ui-sortable-helper {
  font-weight: normal;
  padding: 0px 5px;
}

.image-input {
  width: 99%;
  margin-bottom: 5px;
}

.add-new-factory {
  display: none;
}